img{
    height: 350px;
    width: 450px;
    border-radius: 10px;
    border: 2px solid rgb(46, 204, 113);
    
}
body{
    background-image: url("photo_2020-12-05_12-14-10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    margin: 0 0 0 70px;
    
}
html{
    text-align: center;
    font-family: 'Lobster', cursive, sans-serif;
}
h1, p, td, em{
    color: #73C6B6;
    text-shadow: 2px 2px 3px red;
    
}
strong, li{
    color: white;
    text-shadow: 2px 2px 2px red;
    color: linear-gradient(right, #F4D03F, #D35400);
    list-style-position: inside;
}
li{
    margin: 10px 0 0 10px;    
}
.header{
    text-align: center;
    margin: 70px 0 0 0;
}
h1, table{
    margin: 0 0 0 5px;
    margin: auto;
}
a{
    color: chocolate;
    text-decoration: none;
}
hr{
    border-color: red;
    margin-right: 70px;
}
p::first-letter{
    font-size: 30px;
}
.breakRule span{
    white-space: pre;
}
